 {{#each allMovies }}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{this.dataValues.poster}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.dataValues.title}}</h5>
    <p class="card-text">{{this.dataValues.plot}}</p>
    <button id="{{this.dataValues.id}}" class="moviePost">Add</button>
    {{!-- <a href="/list"  id ="1" class="btn btn-primary">Add</a> --}}
  </div>
</div>
 {{/each}}
 <script src = "../js/createList.js"></script>
 {{!--pass in id for list--}}