<main class="">

    <!--BG IMAGE-->
    <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white "
        style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.jpg');">
        <!--BG IMAGE-->





        <section class="vh-500 ">

            <div class="container  h-300">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                        <h1 class="justify-content-center align-items-center text-black fw-bold">
                                            WELCOME TO DIDYOUSEE
                                        </h1>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>


            </div>



        </section>

    </div>

</main>

<body class="bg-dark">




</body>