<main>
  
  <!--BG IMAGE-->
  <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.jpg');">
    <!--BG IMAGE-->


    <!--SIGN IN / SIGN UP FORM-->


    <section class="vh-300">
      <!-- SIGN UP-->
      <div class="container h-300">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                    <div class="mx-1 mx-md-4">



                      </form>


                  <!-- SIGN IN -->





                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">



                    <div class="col-md-8 col-lg-2 col-xl-7 offset-xl-4">

                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">You have been logged out</p><br><br>
                       <p class="text-center h1  mb-5 mx-1 mx-md-4 mt-4">Login</p>




                      <form class="form login-form">
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <div class="form-group">
                              <label for="email-login">Email:</label>
                              <input class="form-input" type="text" id="email-login" />
                            </div>
                          </div>
                        </div>


                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>

                          <div class="form-group">
                            <label for="password-login">Password:</label>
                            <input class="form-input" type="password" id="password-login" />
                          </div>
                        </div>

                        <div class="form-group">
                          <button class="btn btn-primary" type="submit">login</button>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <footer class="  text-center text-md-center  py-1 px-1 px-xl-1 ">
            <!-- Copyright -->
            <div class="text-white">
              Copyright © 2021. All rights reserved.
          </footer>
        </div>
        <!-- Copyright -->

      </div>


  </div>



  </section>

  </div>

</main>

<body class="bg-dark">




</body>


<script src="./js/login.js"></script>