<div
  id="movieSearch"
  style="align-items: center;
  display: flex;
  justify-content: center;"
>
  <label for="">type in a movie you'd like to add to your list</label>
  <input type="text" id="movieName" />
  <button id="search">Add</button>
</div>

<div
  id="movieBlock"
  style="align-items: center;
  display: flex;
  justify-content: center;"
>
  {{!-- <p id="mTitle">{{Title}}</p>
  <button id="mAddToList" style="visibility: hidden;">Add to List</button>
  <button id="refresh" style="visibility: hidden;">Add another Movie</button> --}}
  <script src="./js/addMovie.js"></script>
  
</div>
