<div id = "movieSearch" style="align-items: center;
  display: flex;
  justify-content: center;">
<label for="">search for a movie</label>
<input type="text" id ="movieName">
<button id="search">Search</button>
</div>

<div id = "movieBlock" style="align-items: center;
  display: flex;
  justify-content: center;">
<p id="mTitle"></p>
<button id="mAddToList" style="visibility: hidden;">Add to List</button>
<button id ="refresh" style="visibility: hidden;">Add another Movie</button>
<script src = "./js/addMovie.js"></script>
</div>